fastapi==0.85
uvicorn
beautifulsoup4
spacy
#for database   
sqlalchemy         
psycopg2

#for loading environment variables  
python-dotenv

pydantic[email]

passlib[bcrypt]

#for testing     
pytest
requests
httpx
